<!-- Graphic-->
<!-- Earnings Overview and Revenue Sources -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Earnings Overviewss</h5>
                        <div class="chart-area">
                            <!-- Gráfico de Earnings Overview -->
                            <canvas id="earningsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Revenue Sources</h5>
                        <div class="chart-pie">
                            <!-- Gráfico de Revenue Sources -->
                            <canvas id="revenueChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
<!-- Fim Graphic-->